@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body{
  background-color: #323232;
  color: white;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  
}
::-webkit-scrollbar{
    display: none;
}
.textura{
    width: 100%;
   height: 56vh;
   position: absolute;
   top: 0; 
   left: 0;
   background: #000;
   opacity: 0.5;
}
.banner{
    background-image: url(../../public/img/html/banner3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(234, 235, 238, 0);
    height: 56vh;
    background-position: 20%;
    
}
.banner h1{
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav a{
    opacity: 100%;
    text-decoration: none;
    color:white;
    margin: 15px;
    
}
.navega{
}
.titulo h1{
    position: relative;
    left: 27%;
    top: 90px;
    font-size: 63px;
}
.ggcode{
    font-family: "Jersey 15", sans-serif;font-weight: 400; font-style: normal;
    font-size: 50px;
}
main{
  
font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: justify;
}
.s1 h1{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 46px;
}
.s1{
    padding-left:10%;
    padding-right:10%;
}
.s2 {
    display: flex;
    padding-left:10%;
    padding-right:10%;
    justify-content: space-between;
}
.s2 div{
    margin-right: 20px;
}
.s3 {
    display: flex;
      padding-left:10%;
    padding-right:10%;
}
.s4{
    padding-left:10%;
    padding-right:10%;
}
.s5{
    padding-left:10%;
    padding-right:10%;
}
.s6{
    padding-left:10%;
    padding-right:10%;
}
.elementos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.elementos2{
    display: flex;
    flex-direction: column;
}
.elementos img{
    width: 215px;
    margin: 5px;
}
.hcj {
    display: flex;
    background-image: url(../../public/img/html/bg2.png);
    background-size: cover;
    color: #000;
}
.videos{
    display: flex;
    justify-content: center;

}
.videos iframe{
    margin-right: 10px;
}